<div class="row ml-sm-2" *ngFor="let widget of widgets">
  <h1 *ngIf="widget.size == 'h1'">{{widget.text}}</h1>
  <h2 *ngIf="widget.size == 'h2'">{{widget.text}}</h2>
  <h3 *ngIf="widget.size == 'h3'">{{widget.text}}</h3>
  <p *ngIf="widget.type == 'PARAGRAPH'" class="my-2">{{widget.text}}</p>
  <a *ngIf="widget.type == 'LINK'" href="{{widget.href}}" class="my-2">{{widget.title}}</a>
  <img *ngIf="widget.type == 'IMAGE'" src="{{widget.src}}" alt="" class="my-2"/>
  <div *ngIf="widget.type == 'LIST' && widget.listType == 'unordered'" class="my-2">
    <ul *ngFor="let item of widget.items.split(',')">
      <li>{{item}}</li>
    </ul>
  </div>
  <div *ngIf="widget.type == 'LIST' && widget.listType == 'ordered'" class="my-2">
    <ol *ngFor="let item of widget.items.split(',')">
      <li>{{item}}</li>
    </ol>
  </div>
</div>
